<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436192891758-c92u3cc9bipvdbd49k0mmkpuus49uuib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436192891758-c92u3cc9bipvdbd49k0mmkpuus49uuib</string>
	<key>API_KEY</key>
	<string>AIzaSyAPtblQ8BDf-JtBjqnqDmS0mMvjru5__pU</string>
	<key>GCM_SENDER_ID</key>
	<string>436192891758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daeun.aske.Fitner</string>
	<key>PROJECT_ID</key>
	<string>fitnessstrap-16b3b</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessstrap-16b3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436192891758:ios:c84e33afbe2a05dfe5e77f</string>
</dict>
</plist>